extends ./base.pug
  
block content
  .container
    .row
      .col-md-4
        .sidebar
          include includes/sidebar-tours.pug

      .col-md-8
        ol.breadcrumb
          li
            a(href="#") Inicio
          li.active Tour 4 días en Cusco, MachuPicchu, blabla


        .content
          h1 Categoria Tour
          
          
          for val in 'xxxxxxx'
              h3.title
                  a(href="#") Tour Peru 3 dias cusco y Machupicchu

              p.body Cusco y Tour a Machupicchu en 3 días Día 01: Bienvenida, traslado del aeropuerto de Cusco al hotel y tarde libre: Bienvenida y traslado del aeropuerto de Cusco al Hotel.  Tarde Libre Noche...  

block banner
  include includes/nav.pug