extends ./base.pug

block banner
  .banner
    img(src="images/banner.jpg")
    include includes/nav.pug

    .tripadvisor
      a.excelence(href="#")
        img(src="images/ta2016.png")
        img(src="images/ta2017.png")


block content
  .home-container
    .container
      .row
        .col-md-4
          .first
            include includes/sidebar-tours.pug

            .block.border
              p.text-center
                img(src="http://www.machupicchumagico.com/uploads/images/recomendado_en_tripadvisor.png", alt="")

            .block.border
              p.text-center
                img(src="http://www.tourperumachupicchu.com/images/paypal.jpg", alt="")

            .block.border
              p.text-center
                i.fa.fa-4x.fa.fa-whatsapp
 
              p.text-center
                | +51932362209 /+51949755958 / +5196236304

            h3.block-title Hoteles en Perú

            for val in ['Lima', 'Cusco', 'Machupicchu']
              h4.tour-category-title
                a(href="#") Hoteles en 
                  = val

              ul
              for cat in ['2', '3', '4']
                li
                  a(href="#")= cat
                  |  estrellas
        .col-md-4
          .second
            h3.block-title Tours más vendidos y recomendados

            for val in 'xxxxx'
              .promocion
                .row
                  .col-md-12
                    figure
                      a(href="#")
                        img(src="http://placehold.it/350x270", alt="")
                  
                  .col-md-8.prom-title.prom-col  
                      a(href="#") Tour 4 días Cusco, Valle Sagrado de los Incas, Viaje a Machupicchu y ascenso a la Montaña Huaynapicchu

                  .col-md-4.prom-price.prom-col Desde US$ 554 dólares por persona

        .col-md-4
          .third
            h3.block-title Machu Picchu: Todo lo que necesitas saber

            ul
              for val in 'xxxxxxxxx'
                li
                  a(href="#test") Como llegar a Machu Picchu

            .faq
              for val in 'xxxxxx'
                .faq-item
                  h3 Como llegar a Machu Picchu
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas architecto nobis ad magnam ut doloremque modi enim, inventore possimus accusamus. Perspiciatis laudantium cumque tempore blanditiis totam et numquam eos saepe.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corporis quis exercitationem illum, natus soluta! Doloribus, saepe odio ad provident nihil repellat. Eum, doloribus consequuntur tenetur inventore praesentium nostrum quod.
                  p.text-right
                    a(href="#") Volver arriba

      .row
        .col-md-12
          h3.block-title Últimos artículos publicados

          for x in 'xxx'
            article.home-article
              h4.title
                a(href="#") Platos típicos Chiriuchu
              p.desc La ciudad del Cusco es conocida por sus grandes atractivos históricos, culturales y sobre todo por su variedad y fusión de sus platos típicos por lo que lleva una mezcla de la tradición andina y española.
              p.text-right.more
                a(href="#") Leer más  

