extends ./base.pug
  
block content
  .container
    .row
      .col-md-4
        .sidebar
          include includes/sidebar-tours.pug

      .col-md-8
        ol.breadcrumb
          li
            a(href="#") Inicio
          li
            a(href="#") Inicio
          li.active Tour 4 días en Cusco, MachuPicchu, blabla

        .content
          h1 Tour 4 días Cusco, Machupicchu, Huaynapicchu y Valle Sagrado
          include  includes/tour-content.pug

block banner
  include includes/nav.pug