<header class="header">
  <div class="container">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-2 text-center"><a href="{{ url('<front>') }}"><img src="/{{ directory }}/images/logo.png" width="85" class="logo-image" /></a></div>
        <div class="col-md-10">
         <div class="logo"><a href="{{ url('<front>') }}"><span class="first">Machu Picchu </span><span class="second">Magico</span></a></div>
          {% if is_front %}
          <h1 class="slogan">{{ page.slogan }}</h1>
          {% else %}
          <div class="slogan">{{ page.slogan }}</div>
          {% endif %}
        </div>
      </div>
      {% if is_front %}
      <div class="description hidden">{{ page.description }}</div>
      {% endif %}
    </div>
    <div class="col-md-6">
      <div class="contact-header">
        {{ page.contact_header }}
      </div>
    </div>
  </div>
  {% block banner %}
  {% endblock %}
</header>

<div class="menu-resp">
  <div class="toggle">
    <button type="button">
      <img class="nm" src="/themes/custom/magico/images/ico-burger.png">
      <img class="nm" src="/themes/custom/magico/images/ico-close.png" style="display: none">
    </button>
  </div>
  <div class="logo-resp logo"><a href="{{ url('<front>') }}"><span class="first">Machu Picchu </span><span class="second">Magico</span></a></div>
</div>

{% if page.highlighted %}
  <div class="highlighted">{{ page.highlighted }}</div>
{% endif %}

{% if page.help %}
  {{ page.help }}
{% endif %}

{% block content %}{% endblock %}

<footer class="footer">
  <div class="container">
    <div class="col-md-4">
      {{ page.footer_first }}
    </div>
    <div class="col-md-5">
      {{ page.footer_second }}
    </div>
    <div class="col-md-3">
      {{ page.footer_third }}
    </div>
  </div>
</footer>
{{ page.extras }}
