{% set title = fields.title.content %}
<ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Webpage"
       itemprop="item" href="{{ url('<front>') }}"><span itemprop="name">{{ 'Home'|t }}</span></a>
       <meta itemprop="position" content="1" />
    </li>
  <li class="active" itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem">
    {{ title }}
    <meta itemprop="position" content="2" />
  </li>
</ol>
