{% set title = fields.field_promocion.content %}
{% set foto = fields.field_image.content %}
{% set precio = fields.field_precio.content %}
{% set url = fields.view_node.content %}
<div class="promocion">
  <div class="row">
    <div class="col-md-12">
      <figure><a href="{{ url }}">{{ foto }}</a></figure>
    </div>
    <div class="grid">
        <div class="col-md-8 prom-title prom-col"> <a href="{{ url }}">{{ title }}</a></div>
        <div class="col-md-4 prom-price prom-col">{{ precio }}</div>
    </div>
  </div>
</div>
