{% set title = fields.title.content %}
{% set ciudad = fields.field_ciudad.content %}
{% set nombre = fields.name.content %}
<ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
  <li itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Webpage"
       itemprop="item" href="{{ url('<front>') }}"><span itemprop="name">{{ 'Home'|t }}</span></a>
       <meta itemprop="position" content="1" />
    </li>
  <li itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem"><a href="/hoteles">Hoteles Perú</a><meta itemprop="position" content="2" /></li>
  <li itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem">{{ ciudad }}<meta itemprop="position" content="3" /></li>
  <li itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem">{{ nombre }}<meta itemprop="position" content="4" /></li>
  <li itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem" class="active">{{ title }}<meta itemprop="position" content="5" /></li>
</ol>
