{% set title = fields.title.content %}
{% set body = fields.field_meta.content %}
{% set url = fields.view_node.content %}
<article class="home-article">
  <h4 class="title">{{ title }}</h4>
  <p class="desc">{{ body }}</p>
  <p class="text-right more">{{ url }}</p>
</article>
