{% set title = fields.name.content %}
<ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
  <li itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Webpage"
       itemprop="item" href="{{ url('<front>') }}"><span itemprop="name">{{ 'Home'|t }}</span></a>
       <meta itemprop="position" content="1" />
    </li>
  <li itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem" class="active">{{ title }}
      <meta itemprop="position" content="2" /></li>
</ol>
