{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% if breadcrumb %}
  <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
    {% for i,item in breadcrumb %}
      <li {{ item.attributes }} itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem">
        {% if item.url %}
          <a itemtype="http://schema.org/Thing"
       itemprop="item" href="{{ item.url == '/' ? url('<front>') : item.url }}"><span itemprop="name">{{ item.text }}</span></a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
  </ol>
{% endif %}
