{% extends 'base.html.twig' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-push-4">
        <div class="content">
          {{ page.breadcrumb }}

          {{ page.header }}

          {{ page.content }}

          {{ page.page_down }}
        </div>
      </div>
      <div class="col-md-4 col-md-pull-8">
        <div class="sidebar">
          {{ page.sidebar }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block banner %}
  {{ page.navigation }}
{% endblock %}
