{% extends 'base.html.twig' %}

{% block content %}
  <div class="home-container">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="first">
            {{ page.home_first }}
          </div>
        </div>
        <div class="col-md-4">
          <div class="second">
            {{ page.home_second }}
          </div>
        </div>
        <div class="col-md-4">
          <div class="third">
            {{ page.home_third }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{ page.home_articles }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block banner %}
  <div class="banner">
    {{ page.banner }}
  </div>
{% endblock %}
