$naranja = #ED8233
$azul = #3f91f2
$celeste = #046cb0
$marron = #5f4d39
$marron2 = #5c4229
$verde = #79a154
$verde2 = #647F3E
$link = #789
$verdeinca = #7c963f

@import url("https://fonts.googleapis.com/css?family=Lato|Oswald:300,400");

@font-face
    font-family: 'Poma'
    src: url('../fonts/Poma.woff2') format('woff2'), url('../fonts/Poma.woff') format('woff')
    font-weight: normal
    font-style: normal

a
    text-decoration: none
    &:hover
        text-decoration: underline

body
  font-family: Lato
  margin-top 0 !important
  
iframe
    width 100%

header.header
    margin-top 0px

    .description
        margin-top 0px
        font-size 12px
        color $celeste
        
    @media(min-width 1024px)
        .lang-flags
            position absolute
            top 0
            right 0
    
    @media(max-width 768px)
        margin-top 60px
        border-bottom 1px solid #cdcaca
        margin-bottom 5px
        padding-bottom 5px
        .col-md-10
            .logo
                display none
                
        .lang-flags
            text-align center
            margin 10px 0
        
.menu-resp
    @media(min-width 768px)
        display none
    @media(max-width 768px)
        display block
        background $marron
        height 50px
        position fixed
        top 0
        left 0
        width 100%
        z-index 10
        
        .logo-resp
            font-size 20px
            border-bottom 0
            float left
            margin 16px 0 0 0
            
        .logo
            .first
                color white
        
        .toggle
            display block
            width 33px
            width 50px
            float left
            margin-left 10px
            button
                padding 0
                background none
                border 0
                outline 0
                
        

.logo-image
    @media(max-width 768px)
        display none

.logo
    font-family: Poma
    font-size 34px
    border-bottom 2px solid $marron
    display inline-block
    margin 10px 0 10px 0
    a
        text-decoration none

    .first
        color: black
        font-weight: bold
    .second
        color $naranja

.slogan
    color $azul
    font-family: Poma
    font-size 14px
    margin 0

.contact-header
    margin-top 4px
    p
        margin-bottom: 0px
    .fa
        color $verde
        
@media (max-width 768px)
    .slogan
    .contact-header
        text-align center
        
.path-frontpage
    .contact-header
        //margin-top 20px

.banner
    margin-top 0
    position relative
    & > img
        width: 100%
        @media(max-width 768px)
            display none
        
    @media(max-width 768px)
        position initial

    .main-nav
        position: absolute
        top 0
        left 0
        background alpha($marron, 0.71)
        margin-top 0
        margin-bottom 0

    .tripadvisor
        position absolute
        bottom 10px
        right 100px
        background alpha(white, 0.7)
        a.excelence
            img
                width 100px
                
        @media(max-width 768px)
            position initial
            bottom initial
            right initial
            background white
            text-align center

.main-nav
    background $marron
    width 100%
    margin-bottom: 10px
    margin-top 0px
    position relative
    z-index 2
    & > ul, & > ul li
        list-style-type: none
        margin 0
        padding 0

    & > ul
        text-align: center

    & > ul > li
        text-transform: uppercase
        display inline-block
        padding 10px 17px
    li
        font-family: Oswald
        font-weight: 300
        font-size: 17px
        padding 10px 17px
        a
            color white

        .child
            position absolute
            top 100%
            display none
            padding-top 0 !important
            padding-bottom 5px !important
            text-align left
        &:hover
            .child
                display block
                background alpha($marron2, 0.89)
                padding 10px 25px 10px 15px
                li
                    display block
                    margin 0
                    text-transform: none
                    padding 0
                    a
                        border-bottom 1px solid white
                        text-decoration: none
                        font-size 14px
                        
    &.fixed
        background $marron
        position fixed
        top 0
        left 0
        
    @media(max-width 768px)
        position fixed !important
        top 50px !important
        background $marron !important
        display none
        & > ul > li
            display block
            text-align left
            
        li
            padding 0 !important
            position relative
            border-bottom 1px solid alpha(white, 0.4)
            a
                padding 4px 20px !important
                display inline-block
                text-decoration none
                .caret
                    position absolute
                    right 10px
                    top 12px
                    border-width 8px
                    
            &:hover
                .child
                    display none
                    
            &.open
                .caret
                    border-top 0
                    border-bottom 8px dashed
                .child
                    display block
            .child
                position initial
                top initial
                display none
                box-shadow 0 0 15px alpha(white, 0.5)
                padding 0
                li
                    padding 0 !important
                    a
                        text-transform uppercase !important
                        border 0 !important

.tour-category-title
    background $verde2
    color white
    text-shadow: 1px 1px 0 alpha(black, 0.3)
    padding 8px 10px
    font-size: 15px
    a
        color white


.block
    &.border
        border 1px solid #cdcaca
        text-align: center
        padding 30px
        margin 10px

.block-title
    color: $naranja
    text-transform: uppercase
    font-size: 17px
    font-weight: 700

.promocion
    margin-bottom 20px
    @media(min-width 1024px)
        .col-md-12
            padding 0
    figure
        img
            width 100%
    .prom-title
        background: $verde2
        a
            color white

    .prom-price
        background $verde
        color white
        
    .grid
        @media(min-width 1024px)
            display grid
            grid-template-columns 70% 30%
            clear both

    .prom-col
        @media(min-width 1024px)
            padding 10px 15px
            width auto

.faq
    .faq-item
        border-bottom 1px solid #cdcaca
        h3
            font-size: 15px
            color $marron2
            font-weight: 700

.home-article
    background #9a7a59
    border-radius 10px
    padding 15px 20px
    margin-bottom 10px
    color white

    p
        margin-bottom 0

    .title
        a
            color yellow

footer.footer
    @media(min-width 1024px)
        background-image url('../images/footer.png')
        background-repeat no-repeat
    @media(min-width 1578px)
        background-image url('../images/footer-large.png')
    @media(max-width 1024px)
        background-color #f0efef
    .fa
        display inline-block
        width 18px

    .container
        @media(min-width 1024px)
            padding-top 130px
            .footer-tours
                padding-top 150px
                
        @media(min-width 1890px)
            .footer-tours
                padding-top 0 !important
                
.path-frontpage
    .first
        li
            border-bottom 1px solid alpha(#cdcaca, 1)
            @media(max-width 768px)
                margin-bottom 5px
                padding-bottom 5px
            
    .second
        h3:first-child
            color $naranja
            
        .fb_iframe_widget_fluid_desktop
            iframe
                min-width 100% !important
            
    .third
        iframe
            heigth 250px
            
    footer.footer
        .col-md-3
            p:nth-last-child(-n+3)
                display none

.sidebar
    .tour-category-title:first-child
        margin-top 0
        
    li
        border-bottom 1px solid alpha(#cdcaca, 1)
        
    .tripadvisor
        text-align center
        overflow hidden
        @media(min-width 1024px)
            img
                width 49%
                padding 10px
                margin 0 1px
                border 1px solid alpha(black, 0.8)
                display inline-block
                
        @media(max-width 1024px)
            img
                width 100%
                border 1px solid alpha(black, 0.8)
    
.content
    h1
        color $naranja
        font-size: 27px
        border-bottom 2px solid $naranja
        padding-bottom 2px
        font-weight 700
        margin-bottom 10px

    h2
        color $verdeinca
        font-size: 20px
        font-weight 700
    
    h3
        color $azul
        font-size 17px
        font-weight 700
        
    img
        &.right
            float right
            @media(max-width 768px)
                float none !important
                display block
                margin-bottom 10px
                width 100%
        
.widSSP
    width 100% !important
    margin-bottom 20px !important

// Font awesome
.fa-map-marker
    color $verde
.fa-phone
.fa-mobile-phone
    color $azul
.fa-at
    color red
    
.l-facebook
.fa-facebook
    color #3b5999
.l-twitter
.fa-twitter
    color #55acee
.l-skype
.fa-skype
    color #00AFF0
.l-google-plus
.fa-google-plus
    color #dd4b39
.l-youtube
.fa-youtube
    color #cd201f
.l-rss
.fa-rss
    color #f57d00
.l-whatsapp
.fa-whatsapp
    color #25D366
.l-flickr
.fa-flickr
    color #ff0084
.l-instagram
.fa-instagram
    color #e4405f


.highlighted
    background: #ecec5e99;
    font-weight: 700;
    color: #4e2308;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: -5px 5px 10px rgba(0,0,0,0.3);
    
.rating
    margin-bottom: 20px;
    font-size: 12px;
    font-style: italic;


.rating-stars
    margin:-12px 0 0;position:relative;top:0;left:0;color:#FBA406 !important;


#paypal3, #paypal {
  padding: 10px 20px;
  background: #d8d8d8;
  text-align: center;
}

@media(min-width 1024px)
    .tour-teaser
    .hotel-teaser
    .article-teaser
        width 50%
        padding 0 15px
        float left
        
        h3
            min-height 36px
            a
                color $verdeinca
                
    .hotel-teaser
        h3
            min-height 0
            
@media(max-width 1024px)
    .breadcrumb
        //display none
        

.wamobile
    display none
    @media(max-width 768px)
        display block
        position fixed
        bottom 130px
        right 20px
        background #25d366
        color #fff !important
        padding 8px 12px
        border-radius 50%
        box-shadow 3px 3px 3px rgba(0,0,0,0.3)
        a, i
            color #fff !important
            
        &.otro
            bottom 70px
            background $naranja