nav.main-nav
      ul
        li
          a(href="#") Inicio
        li
          a(href="#") Camino Inca a Machupicchu
          ul.child
            li
              a(href="#") Hijohijito hoteda adssda
            li
              a(href="#") Hijohijito hoteda adssda
            li
              a(href="#") Hijohijito hoteda adssda
            li
              a(href="#") Hijohijito hoteda adssda
        li
          a(href="#") Pagos y Reservas
        li
          a(href="#") Quienes Somos