for x in 'xxxxxxx'
    h4.tour-category-title
        a(href="#") Paquetes en Perú Viaje a Machu Picchu

    ul
        for y in 'yyyyyyyyyyyyyy'
            li
                a(href="#") Tour 3 días Cusco y Machu Picchu

