<div class="itinerario" itemprop="description"><p><strong>Tour 4 días Perú Machu Picchu visitando: City tour  Cusco, Tour Machu picchu y Huaynapicchu y Valle Sagrado de los Incas con  hotel, ingresos, traslados, transporte, guía.</strong></p>
<p><strong><span style="color: #ff0000;" _mce_style="color: #ff0000;">Nota:</span> </strong>(Todos  nuestros paquetes turísticos pueden ser modificados de acuerdo a sus  requerimientos, sea duración de su tour, adicionar un día más, reservas  de vuelos u otros destinos adicionales).</p>
<h2>Día 01: Bienvenida y traslado del aeropuerto de Cusco al Hotel y City tour en Cusco.</h2>
<p><img class="right" style="float: right;" _mce_style="float: right;" title="Machupicchu Magico Plaza de Armas Cusco" src="http://media.machupicchumagico.com/tours/cusco-plaza-de-armas.jpg" _mce_src="http://media.machupicchumagico.com/tours/cusco-plaza-de-armas.jpg" alt="Machupicchu Magico Plaza de Armas" border="0"></p>
<ul>
<li>Traslado del aeropuerto de Cusco al Hotel.</li>
<li><a href="http://www.machupicchumagico.com/city-tour-cusco" _mce_href="http://www.machupicchumagico.com/city-tour-cusco" title="City Tour en Cusco" target="_blank" style="" _mce_style=""><strong>City tour en Cusco</strong>:</a> Templo del sol o Qoricancha, la Catedral, Sacsayhuaman, Qenqo, Pukapukara y Tambomachay. ( de 1:35 PM a 6:45 PM)</li>
<li>Noche de Hotel en Cusco.</li>
</ul>
<p>Nuestro personal estará esperándo por usted en el Aeropuerto  Alejandro Velasco Astete de la ciudad del Cusco (altitud 3,350 m.s.n.m),  con un cartel con su nombre para darles una cálida bienvenida a la  mágica Ciudad Imperial del Cusco y hacerles el respectivo traslado a su  &nbsp;hotel, donde se les ofrecerá un mate de hojas de coca bueno para la  aclimatación, tendrán la tarde libre para la aclimatación del lugar.</p>
<p><img class="right" style="float: right;" _mce_style="float: right;" title="Templo del sol o Qoricancha" src="http://media.machupicchumagico.com/tours/cusco-el-qoricancha.jpg" _mce_src="http://media.machupicchumagico.com/tours/cusco-el-qoricancha.jpg" alt="Templo del sol o Qoricancha" border="0"></p>
<p>Luego de su almuerzo, lo recogeremos de su hotel a la &nbsp;hora indicada  por su agente de viajes, para dar inicio y disfrutar de un tour guiado a  las 1:35 PM. de la tarde donde usted podrá conocer los siguientes  atractivos turísticos de la ciudad del Cusco:</p>
<ul>
<li><strong><em>El Templo del Qoricancha:</em></strong> El convento de  Santo Domingo del Cusco es la construcción religiosa más antigua de la  América Meridional, conocido como el " Templo del Sol ". Actualmente se  puede apreciar la maravillosa arquitectura inca unida a la arquitectura  española lo que constituye una muestra de nuestra cultura mestiza.</li>
<li><strong>La Catedral:</strong> La Basílica Catedral de la ciudad del  Cusco fue construida por mano de obra de indígenas cusqueños y dirigida  por los españoles. Posee además las expresiones mejor acabadas de la  orfebrería colonial así como del tallado en madera y una valiosa  colección de lienzos de la denominada "Escuela Cusqueña".</li>
</ul>
<p><img class="right" style="float: right;" _mce_style="float: right;" title="Cusco Sacsayhuaman" src="http://media.machupicchumagico.com/tours/cusco-sacsayhuaman.jpg" _mce_src="http://media.machupicchumagico.com/tours/cusco-sacsayhuaman.jpg" alt="Cusco Sacsahuaman" border="0"></p>
<ul>
<li><strong>Saqsayhuaman:</strong> Es una de las construcciones incas  que más asombra a los turistas que según nuevas hipótesis, señalan que  habría sido un importantísimo centro ceremonial inca y no una fortaleza  como antes se creía.</li>
<li><strong>Qenqo:</strong> Centro ceremonial y ritual, fue un anfiteatro donde se realizaban sacrificios se dice que fue adoratorio incaico.</li>
<li><strong>Puca Pucara: </strong>Antiguo tambo puesto de vigilancia a  lo largo de los caminos Incas, este sitio arqueológico cuenta con  :&nbsp;recintos, plazas interiores, baños, acueductos, atalayas y un camino  inca fácilmente reconocible</li>
<li><strong>Tambomachay: </strong>A través de sus escalinatas se  aprecian caídas de agua cristalina y según se afirma aquí se rendía  culto al líquido elemento para los incas que es  El agua . </li>
</ul>
<p>Estará retornando a la ciudad de Cusco a las 6:45 pm.</p>
<h2>Día 02: Tour al Valle Sagrado de los Incas y Viaje en tren a Machupicchu.</h2>
<p><img class="right" style="float: right;" _mce_style="float: right;" title="Valle Sagrado de los Incas" src="http://media.machupicchumagico.com/tours/valle-sagrado.jpg" _mce_src="http://media.machupicchumagico.com/tours/valle-sagrado.jpg" alt="Valle Sagrado de los Incas" border="0"></p>
<ul>
<li>Desayuno en el hotel.</li>
<li><strong>Tour al <a href="http://www.machupicchumagico.com/tour-valle-sagrado-de-los-incas" _mce_href="http://www.machupicchumagico.com/tour-valle-sagrado-de-los-incas" title="Tour Valle Sagrado de los Incas" target="_blank" style="" _mce_style="">Valle Sagrado de los Inkas</a></strong>, visitando: Mercado Indio Artesanal de Pisac, ruinas de Pisac y Ollantaytambo, de (8:35 am - 4:00 pm)</li>
<li>Almuerzo Buffet incluido en el mejor restaurant de Urubamba<strong> "Tunupa"</strong>.</li>
<li>Viaje en tren<span style="color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 11.8182px;" _mce_style="color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 11.8182px;">&nbsp;</span><a style="font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 11.8182px;" _mce_style="font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 11.8182px;" title="Tren Expedition" href="http://www.machupicchumagico.com/articulo/tren-expedition-a-machu-picchu-peru-rail" _mce_href="http://www.machupicchumagico.com/articulo/tren-expedition-a-machu-picchu-peru-rail" target="_blank">Expedition</a> de Ollantaytambo a Aguas Calientes (De 19:00 pm a 20:45 pm).</li>
<li>Traslado de la estación de Aguas Calientes al Hotel.</li>
<li>Noche de hotel en Aguas Calientes - Machu Picchu.</li>
</ul>
<p>Pasaremos a recogerle de su hotel a la hora indicada por su agente de  viajes, iniciando el recorrido a las 9:00 a.m dirigiéndonos por una  carretera asfaltada al pueblo de Pisac, ubicado a 32 Km de la ciudad de  Cusco, siendo Pisac un pueblo típico andino artesanal y arqueológico</p>
<p><img class="right" style="float: right;" _mce_style="float: right;" title="Ollantaytambo Valle Sagrado" src="http://media.machupicchumagico.com/tours/cusco-templo-del-sol-ollantaytambo.jpg" _mce_src="http://media.machupicchumagico.com/tours/cusco-templo-del-sol-ollantaytambo.jpg" alt="Ollantaytambo Valle Sagrado" border="0"></p>
<p>donde se realizan las famosas Ferias Artesanales en sus mercados  típicos donde usted podrá realizar compras &nbsp;y disfrutar de un tour  guiado en los sitios arqueológicos del lugar; continuando con nuestro  recorrido de aproximadamente una hora pasaremos por diferentes poblados  como: Coya, Lamay, la provincia de Calca, Yucay apreciando la belleza  paisajística del Valle Sagrado de los Incas. Pasaremos al poblado de  Urubamba donde disfrutaremos de un delicioso almuerzo buffet en el  acogedor restaurante "Tunupa"</p>
<p>Posteriormente nos dirigiremos hacia el poblado de Ollantaytambo (Es  la única ciudad del incanato en el Perú que aún es habitada) para  visitar el complejo arqueológico del mismo nombre;&nbsp;habiendo sido un:  Complejo agrícola, administrativo, social, religioso y militar en el  Tahuantinsuyo, finalizando el tour, nos trasladaremos a la estación de  trenes de Ollantaytambo para que pueda abordar su tren que sale a las  19:00 pm con destino al poblado de Aguas Calientes donde nuestro  personal le estará esperando para trasladarlo al hotel seleccionado.</p>
<h2>Día 03: Vista del amanecer y Tour Machupicchu con Ascenso al Huaynapicchu (opcional).</h2>
<p><img class="right" style="float: right;" _mce_style="float: right;" title="Machupicchu Cusco" src="http://media.machupicchumagico.com/tours/cusco-machupicchu.jpg" _mce_src="http://media.machupicchumagico.com/tours/cusco-machupicchu.jpg" alt="Machupicchu Cusco" border="0"></p>
<ul>
<li>Desayuno en el hotel.</li>
<li>5:30 am. Subida en bus a Machu Picchu.</li>
<li>6:00 am. Vista del amanecer en Machu Picchu.</li>
<li>7:00 am. <strong>Tour a Machu Picchu con guía</strong> (3 horas aproximadamente).</li>
<li>10:00 am.&nbsp;<strong>Opcional: </strong>Caminata al <a href="http://www.machupicchumagico.com/huaynapicchu-montana" _mce_href="http://www.machupicchumagico.com/huaynapicchu-montana" title="Huaynapicchu Montaña" target="_blank" style="" _mce_style="">Huaynapicchu</a> (3 horas, sin Guía).</li>
<li>Bus de bajada de Machupicchu a Aguas Calientes.</li>
<li>Tren de retorno de Machu Picchu - Aguas Calientes a Cusco - Poroy en servicio de<span style="color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 11.8182px;" _mce_style="color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 11.8182px;">tren </span><a style="font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 11.8182px;" _mce_style="font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 11.8182px;" title="Tren Expedition" href="http://www.machupicchumagico.com/articulo/tren-expedition-a-machu-picchu-peru-rail" _mce_href="http://www.machupicchumagico.com/articulo/tren-expedition-a-machu-picchu-peru-rail" target="_blank">Expedition</a> (de 16:43 a 20:23 horas.)</li>
<li>Traslado de la estación de trenes a su hotel en Cusco.</li>
<li>Noche de Hotel en Cusco.</li>
</ul>
<p><img class="right" style="float: right;" _mce_style="float: right;" title="Huaynapichu" src="http://media.machupicchumagico.com/tours/cusco-huaynapicchu-machupicchu.jpg" _mce_src="http://media.machupicchumagico.com/tours/cusco-huaynapicchu-machupicchu.jpg" alt="Huaynapichu" border="0"></p>
<p class="bullet check">Luego de su desayuno en el hotel a las 6:00 am,  excelente oportunidad para levantarse temprano y &nbsp;observar un lindo  amanecer en <strong>Machu Picchu</strong>. En coordinación con el guía, quien le visitará  un día antes en su hotel en Aguas Calientes, tomará el bus que lo  transportará del Poblado de Aguas Calientes a Machupicchu (altitud 2450  m.s.n.m) (30 minutos aproximadamente), podrá observar el amanecer en  Machupicchu&nbsp;teniendo su tour guiado de aproximadamente 3 horas,&nbsp;pudiendo visitar: la Plaza Principal, la Torre Circular, el Sagrado Reloj Solar, Los Cuartos Reales, El Templo de las Tres Ventanas y los Cementerios.</p>
<p>Entre las 10:00am y 11:00am, se realiza el ingreso al <a href="http://www.machupicchumagico.com/huaynapicchu-montana" _mce_href="http://www.machupicchumagico.com/huaynapicchu-montana" title="Huaynapicchu Montaña" target="_blank" style="" _mce_style="">Huaynapicchu</a>  (Montaña desde donde se aprecia una vista espectacular de todo el valle  de Machupicchu), el ingreso está incluido y lo puede hacer de manera  opcional, le tomará 3 horas aproximadamente entre la subida y  bajada.&nbsp;Este programa de viaje es ideal para recorrer Machupicchu en su  totalidad y tomarse fotografías con tiempo suficiente hasta la hora que  usted tome por conveniente retornar en bus a Aguas Calientes y así pueda  almorzar en el mismo poblado. Por la tarde usted deberá abordar el  tren&nbsp;<a title="Tren Expedition" href="http://www.machupicchumagico.com/articulo/tren-expedition-a-machu-picchu-peru-rail" _mce_href="http://www.machupicchumagico.com/articulo/tren-expedition-a-machu-picchu-peru-rail" target="_blank">Expedition</a> (incluido en el Paquete Turístico) con destino a Poroy - Cusco.</p>
<p>Nuestro personal estará esperando por usted en la estación de trenes para trasladarle a su hotel.</p>
<p><em><strong>La ventaja de este tour es que usted podrá conocer Machupicchu sin mucha gente y con mucha más disposición de tiempo.</strong></em></p>
<h2>Día 04: Traslado del hotel en Cusco al aeropuerto y despedida</h2>
<ul class="bullet check">
<li>Desayuno en el Hotel.</li>
<li>Traslado del Hotel al Aeropuerto de Cusco.</li>
</ul>
<p>Luego del desayuno en&nbsp;el hotel, de acuerdo al horario de su vuelo, le  recogeremos de su hotel para trasladarle al aeropuerto de Cusco con dos  horas de anticipación, donde le ayudaremos a realizar todo el proceso  para el aborde de su vuelo y finalmente abordándolos a su vuelo de  destino deseándoles un Feliz Viaje.</p>
<h4>Fin de los servicios.</h4><ul>
<li><span style="color: rgb(0, 0, 255);" _mce_style="color: #0000ff;"><strong>El costo del Paquete Turístico, está expresado en dólares americanos y es por persona, el costo dependerá de la categoría de hoteles que usted elija, trabajamos con los mejores servicios en hoteles de 2** a 5 ***** estrellas, también dependerá del tipo de habitación que requiera: simple (1 persona), doble (2 personas) y triple (3 personas).</strong></span></li></ul>
<table class="table table-bordered table-striped">
<thead>
<tr>
<th>
Costo del Paquete Completo
</th>
<th>DWB(Doble)</th>
<th>TPL(Triple)</th>
<th>SWB(1 persona)</th>
</tr></thead>
<tbody>
<tr>
<td>Con Hoteles 2**&nbsp;tren <a title="Tren Expedition" href="http://www.machupicchumagico.com/articulo/tren-expedition-a-machu-picchu-peru-rail" target="_blank">Expedition</a></td>
<td>US$ 559</td>
<td>US$ 534</td>
<td>US$ 720</td>
</tr>
<tr>
<td>Con Hoteles 3***&nbsp;tren <a title="Tren Expedition" href="http://www.machupicchumagico.com/articulo/tren-expedition-a-machu-picchu-peru-rail" target="_blank">Expedition</a></td>
<td>US$ 636</td>
<td>US$ 609</td>
<td>US$ 838</td>
</tr>
<tr>
<td>Con Hoteles 4****&nbsp;tren <a title="Tren Expedition" href="http://www.machupicchumagico.com/articulo/tren-expedition-a-machu-picchu-peru-rail" target="_blank">Expedition</a></td>
<td>US$ 799</td>
<td>US$ 779</td>
<td>US$ 1172</td>
</tr>
<tr>
<td>Con Hoteles 5*****&nbsp;Tren&nbsp;<a title="Tren Vistadome" href="http://www.machupicchumagico.com/articulo/tren-vistadome" target="_blank">Vistadome</a></td>
<td>US$ 1440</td>
<td>US$ 1324</td>
<td>US$ 2265</td>
</tr>
</tbody>
</table>
<ul class="leyenda bullet star">
<li><strong>DWB:</strong> Habitación Doble o Matrimonial (dos personas).</li>
<li><strong>TPL:</strong> Habitación Triple (tres personas).</li>
<li><strong>SWB:</strong> Habitación Simple (una persona).</li>
<li>Puede hacer la elección de su hotel en la categoría que desee,  trabajamos con los mejores hoteles con los mejores servicios en las  categorías de 2, 3, 4 y 5 estrellas.</li>
</ul>
<table class="mceItemTable" style="height: 38px; width: 601px;" _mce_style="height: 38px; width: 601px;">
<tbody>
<tr style="border-color: #0f5be6; border-width: 1px; background-color: #d6edfa;" _mce_style="border-color: #0f5be6; border-width: 1px; background-color: #d6edfa;" align="left">
<td>
<p><span style="font-size: 10pt;" _mce_style="font-size: 10pt;"> <a title="Hoteles en Cusco" href="http://www.machupicchumagico.com/hoteles/cusco" _mce_href="http://www.machupicchumagico.com/hoteles/cusco" target="_blank">Hoteles en Cusco</a></span></p>
</td>
<td>
<p><span style="font-size: 10pt;" _mce_style="font-size: 10pt;"> <a title="Hoteles en Machu Picchu" href="http://www.machupicchumagico.com/hoteles/machupicchu" _mce_href="http://www.machupicchumagico.com/hoteles/machupicchu" target="_blank">Hoteles en Machu Picchu</a></span></p>
</td>
</tr>
</tbody>
</table>
<h3>El paquete turístico en 5 días incluye:</h3>
<ul class="bullet check arrow">
<li>Traslado Aeropuerto en Cusco - Hotel - Aeropuerto en Cusco.</li>
<li>Todos los ingresos a los atractivos turísticos a visitar del <strong>City  Tour en Cusco</strong>,<strong> Valle Sagrado de los Incas</strong>, ciudadela inca de <strong>Machupichu  y Huaynapicchu</strong>.</li>
<li>Transporte en bus turístico para todos los tours a realizarse.</li>
<li>Guía profesional en turismo, en el idioma que prefiera: Inglés ó español, para todos los atractivos turísticos.</li>
<li>Traslado Hotel - Estación de tren - Hotel.</li>
<li>Tren ida y vuelta de Ollantaytambo - Aguas Calientes (Machupicchu) - Cusco (Poroy).</li>
<li>Bus de subida y bajada: Aguas Calientes - Machupichu - Aguas Calientes.</li>
<li>1 Almuerzo Buffet en el Valle Sagrado de los Incas, Restaurant Tunupa.</li>
<li><strong>City tour en Cusco.</strong></li>
<li><strong><a href="http://www.machupicchumagico.com/tour-valle-sagrado-machu-picchu" _mce_href="http://www.machupicchumagico.com/tour-valle-sagrado-machu-picchu" title="Tour a Machu Picchu" target="_blank" style="" _mce_style="">Tour a Machupicchu y ascenso a Huaynapicchu</a> en <span style="color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 11.8182px;" _mce_style="color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 11.8182px;">tren </span><a style="font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 11.8182px;" _mce_style="font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 11.8182px;" title="Tren Expedition" href="http://www.machupicchumagico.com/articulo/tren-expedition-a-machu-picchu-peru-rail" _mce_href="http://www.machupicchumagico.com/articulo/tren-expedition-a-machu-picchu-peru-rail" target="_blank">Expedition</a>.</strong></li>
<li><strong>Tour al Valle Sagrado de los Incas.</strong></li>
<li>2 noches de Hotel en Cusco.</li>
<li>1 noche de hotel en Aguas Calientes.</li>
<li>Asistencia y Orientación diaria por parte de nuestro personal profesional.</li>
</ul>
<h3>No incluye:</h3>
<ul class="bullet arrow">
<li>Alimentación: almuerzo y cena no descritos en el Paquete Turístico.</li>
<li>Pasajes de Avión: Lima - Cusco - Lima.&nbsp;<strong><span style="background-color: #ffff00;" _mce_style="background-color: #ffff00;">(Puede  solicitar los vuelos de Lima a Cusco y Cusco a Lima con nosotros, el  costo varía entre 100 a 150 dólares, se recomienda reservar con  anticipación ya que según se aproxima la fecha los costos se  incrementan)</span></strong></li>
<li>Pasajes de avión internacionales.</li>
</ul>
<h3>Nota:</h3>
<ul>
<li>Nuestros grupos a partir de 3 pasajeros, pueden solicitar sus descuentos especiales para todos nuestros Paquetes Turísticos.</li>
<li>Nuestros turistas peruanos que cuenten con el DNI vigente, tienen un descuento especial de 40 dólares por persona.</li>
</ul>
<h2>Servicios opcionales:</h2>
<ul>
<li>Puede solicitar el servicio de tren Ejecutivo&nbsp;<a title="Tren Vistadome" href="http://www.machupicchumagico.com/articulo/tren-vistadome" _mce_href="http://www.machupicchumagico.com/articulo/tren-vistadome" target="_blank">Vistadome</a> o Panorámico Incrementando&nbsp;<strong>USD 45 Dólares </strong>americanos por persona.</li>
<li>Puede solicitar el servicio de tren de lujo&nbsp;<a title="Hiram Bingham" href="http://www.machupicchumagico.com/articulo/el-tren-hiram-bingham-machupicchu" _mce_href="http://www.machupicchumagico.com/articulo/el-tren-hiram-bingham-machupicchu" target="_self">Hiram Bingham</a> Incrementando&nbsp;<strong>USD 564 Dólares</strong> por persona.</li>
<li>Almuerzo a la Carta&nbsp;en Aguas Calientes (Machupicchu Pueblo)&nbsp;en el Restaurant Café Inkaterra &nbsp;incrementando&nbsp;<strong>USD 22 dólares</strong> por persona.</li>
<li>Almuerzo buffet&nbsp;ubicado en el mismo Machu Picchu en&nbsp;Tinkuy Restaurant del hotel Sanctuary Lodge &nbsp;es&nbsp;<strong>USD 40 dólares</strong> por persona.</li>
<li>Cena Buffet en Cusco con Show de danzas tipicas en vivo es&nbsp;<strong>USD 22 dólares</strong> por persona.</li></ul></div>