{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <div class="rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <a itemprop="url" href="{{ url }}" class="rating-stars">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half"></i>
    </a>
    {{ 'Rating'|t }}: <strong><span itemprop="ratingValue">{{ content.field_calificacion }}</span></strong>/5.
    {{ 'Total'|t }} <strong><span itemprop="reviewCount">{{ content.field_voto }}</span></strong> {{ 'ratings'|t }}.
    {% if content.field_ingles|render or content.field_portugues|render  %}
    <div class="span pull-right lang-flags">{{ 'Available in'|t }}: 
      {% if content.field_portugues|render %}
      <a href="{{ content.field_portugues}}" target="_blank"><img src="/themes/custom/magico/images/brazil.png" alt="Versão em português" width="25"></a>
      {% endif %}
      {% if content.field_ingles|render %}
      <a href="{{ content.field_ingles}}" target="_blank"><img src="/themes/custom/magico/images/united-kingdom.png" alt="English version" width="25"></a>
      {% endif %}
      {% if content.field_espanol|render %}
      <a href="{{ content.field_espanol}}" target="_blank"><img src="/themes/custom/magico/images/espana.png" alt="Versión en español" width="25"></a>
      {% endif %}
    </div>
    {% endif %}
  </div>
  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('content') }}>
    {{ content|without('field_voto', 'field_calificacion', 'field_image', 'field_meta', 'field_ingles', 'field_portugues', 'field_espanol') }}


    <div class="addthis_inline_share_toolbox"></div>
    <div class="fb-like" data-href="{{ url }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>

  </div>

</article>

<h3>{{ 'Questions?'|t }}</h3>
<div class="fb-comments" data-href="https://www.machupicchumagico.com{{ url }}" data-numposts="5" data-width="100%"></div>

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ label }}",
  "description": "{{ content.field_meta }}",
  "brand": {
    "@type": "Thing",
    "name": "Machu Picchu Mágico"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "{{ content.field_calificacion }}",
    "reviewCount": "{{ content.field_voto }}"
  }
}
</script>

<div class="modal fade" tabindex="-1" role="dialog" id="PayPalModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ 'Pay with'|t }} <img src="/themes/custom/magico/images/paypal-logo-preview.png" alt="Paypal"></h4>
      </div>
      <div class="modal-body">
        <div id="paypal">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <p><input type="number" placeholder="Adelanto" name="amount" min="0" step="any" required="" class="form-control input-sm"></p>
            <p><button name="submit" type="submit" class="btn btn-sm btn-block btn-success"><i class="fa fa-credit-card"></i> {{ 'Pay'|t }}</button></p>
            <p class="small">
                <img src="/themes/custom/magico/images/tarjetas.jpg" alt="{{ 'All credit cards'|t }}">
            </p>
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" value="reservasmapi@gmail.com">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="item_name" value="{{ label }}">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="button_subtype" value="services">
            <input type="hidden" name="no_note" value="0">
            <input type="hidden" name="no_shipping" value="1">
            <input type="hidden" name="rm" value="1">
            <input type="hidden" name="return" value="https://www.machupicchumagico.com/venta.php?success=true">
            <input type="hidden" name="cancel_return" value="https://www.machupicchumagico.com/venta.php?success=false">
            <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|t }}</button>
      </div>
    </div>
  </div>
</div>
